<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title has-text-white">Jimba's Good Doggos</h1>
      <h2 class="subtitle has-text-white">For bored doggo lovers</h2>
    </div>
  </div>
</section>
