<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/jimba-right.gif" alt="Jimba">
      &nbsp;
      Jimba's Good Doggos
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/dogs">All dogs</a>
      <% if(locals.isAuthenticated) { %>
        <a class="navbar-item" href="/dogs/new">Add a dog</a>
        <a class="navbar-item" href="/logout">Logout</a>
      <% } else { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
