<div class="search-form">
  <div class="field">
    <label for="name">Search</label>
    <div class="control">
      <input type="text" class="input" ng-model="dogsIndex.name" placeholder="By dog name..">
    </div>
  </div>
  <div class="field">
    <label for="name">Brow length</label>
    <div class="control">
      <input type="text" class="input" ng-model="dogsIndex.min" placeholder="Minimum">
    </div>
  </div>
  <div class="field">
    <!-- <label for="name">Max length</label> -->
    <div class="control">
      <input type="text" class="input" ng-model="dogsIndex.max" placeholder="Maximum">
    </div>
  </div>
</div>

<ul class="columns is-multiline">

  <li class="column is-one-quarter" ng-repeat="dog in dogsIndex.filtered">
    <a ui-sref="dogsShow({ id: dog._id })">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img ng-src="{{ dog.image }}" alt="{{ dog.name }}" />
          </figure>
        </div>
        <div class="card-content">
          <h4>Name: {{ dog.name }}</h4>
          <p>Doggy description: {{ dog.description }}</p>
          <p>Brow length(cm): {{ dog.eyebrowLength }}</p>
        </div>
      </div>
    </a>
  </li>

</ul>
