<form ng-submit="dogsNew.handleSubmit()">
  <div class="field">
    <label for="name">Name</label>
    <input class="input" placeholder="Name" name="name" ng-model="dogsNew.newDog.name" />
  </div>
  <div class="field">
    <label for="name">Doggy description</label>
    <input class="input" placeholder="Doggy description" name="description" ng-model="dogsNew.newDog.description"/>
  </div>
  <div class="field">
    <label for="name">Image</label>
    <input class="input" placeholder="Image" name="image" ng-model="dogsNew.newDog.image" />
  </div>
  <div class="field">
    <label for="name">Eyebrow length</label>
    <input class="input" placeholder="Eyebrow length" name="eyebrowLength" ng-model="dogsNew.newDog.eyebrowLength" />
  </div>


  <button class="button is-primary">Submit</button>
</form>
