<form ng-submit="placesEdit.handleSubmit()">
  <div class="field">
    <label for="name">Name</label>
    <input class="input" placeholder="Name" name="name" ng-model="placesEdit.place.name" />
  </div>
  <div class="field">
    <label for="name">Address</label>
    <input class="input google-autocomplete" location="placesEdit.place.location" address="placesEdit.place.address" placeholder="Address" name="address" ng-model="placesEdit.place.address"/>
  </div>
  <div class="field">
    <label for="name">Image</label>
    <input class="input" placeholder="Image" name="image" ng-model="placesEdit.place.image" />
  </div>
  <div class="field">
    <label for="name">Rating</label>
    <div class="control">
      <div class="select">
        <select name="rating" ng-model="placesEdit.place.rating">
          <option selected disabled value="">Please choose</option>
          <option value="1">⭐️</option>
          <option value="2">⭐️⭐️</option>
          <option value="3">⭐️⭐️⭐️</option>
          <option value="4">⭐️⭐️⭐️⭐️</option>
          <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label for="name">Price</label>
    <div class="control">
      <div class="select">
        <select name="price" ng-model="placesEdit.place.price">
          <option selected disabled value="">Please choose</option>
          <option>£</option>
          <option>££</option>
          <option>£££</option>
        </select>
      </div>
    </div>
  </div>

  <button class="button is-primary">Submit</button>
</form>
