* {
  font-family: 'Nanum Pen Script', cursive;
}

body {
  background-color: #e3e3e3;
}

section {
  padding: 20px 0;
}

h1.title {
  font-size: 5rem;
  padding: 30px;
  color: white;
  background-color: dodgerblue;
}

.full-width input {
  text-align: center;
  padding: 5px;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 20px;
}

.full-width button {
  padding: 5px;
  display: block;
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  background-color: #990000;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
}

.full-width {
  text-align: center;
  display: block;
  width: calc(100vw - 10%);
  margin: 0 auto;
}

.foot-space {
  padding-bottom: 50px;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* align placeholder text center */
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {
   text-align: center;
}
